:root {
    /*--structure-left-width:20%;*/
    /*--structure-right-width:20%;*/
    --color-header: #333;
    --color-menu: #eee;
    --color-menu-border: #444;
}

* {
    font-family: verdana, arial, sans-serif;
}


#site {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
}

#left, #right, #middle {
    z-index: 0;
}

#header {
    z-index: 5;
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: var(--color-header);
}

#left {
    grid-column-start: 1;
    grid-column-end: 2;
    background: var(--color-menu);
    border-right: 1px solid var(--color-menu-border);
}

#right {
    grid-column-start: 3;
    grid-column-end: 4;
    background: rgba(0, 0, 200, 0.1);
}

/* todo : overflow overlay thin */
#middle {
    grid-column-start: 2;
    grid-column-end: 3;
    background: rgba(0, 200, 0, 0.1);
    padding: 15px;
    max-height:100%;
    overflow:auto;
}


#cardslist {
    width: 100%;
}
